body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, input, form, a, p, textarea {
	margin: 0;
	padding: 0;
} 

ol, ul, li {
	list-style: none;
}

li a {
	text-decoration: none!important;
	color: #5a8fac!important;
}

li a:hover {
	color: #e9e7cf!important;
	transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
	-moz-transition: color 1s;
}

img {
	border: none;
	display: block;
}

.clearfloat {
	zoom: 1;
}
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}